---
import Layout from "../layouts/Layout.astro";
import Aside from "../components/Aside.astro";
import Hero from "@/components/Hero.astro";
---

<Layout title="WinPick">
  <main class="flex flex-row">
    <Aside />
    <Hero />
  </main>
</Layout>
