---
import Logo from "./Logo.astro";
import Arrow from "./Arrow.astro";
---

<aside class="w-[280px] h-screen dark:bg-negro bg-white flex flex-col gap-10">
  <div class="flex flex-row justify-between items-center p-10">
    <a href="/">
      <Logo />
    </a>
    <Arrow />
  </div>
  <div class="mx-auto">
    <div class="flex flex-row justify-center items-center gap-5 mb-10 px-5">
      <div
        class="w-20 h-20 fondo rounded-full border-primary border-4 border-solid"
      >
      </div>
      <div class="dark:text-white text-oscure flex flex-1 flex-col p-2">
        <h3 class="font-bold">Ezequiel</h3>
        <p class="text-sm">Nivel 69</p>
      </div>
    </div>
    <div class="">
      <ul class="">
        <li class="">
          <button
            class="w-[240px] flex flex-row items-center gap-2 px-6 py-3 hover:bg-primary rounded-lg group"
          >
            <figure class="dark:text-white text-black">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                class="group-hover:hidden"
                ><path
                  fill="currentColor"
                  d="M18.344 1.45h-2.157V.513A.188.188 0 0 0 16 .325H4a.188.188 0 0 0-.188.188v.937H1.656A1.031 1.031 0 0 0 .625 2.481v3.47a3.85 3.85 0 0 0 3.24 3.796 6.007 6.007 0 0 0 5.291 5.168v2.466H4.562a.75.75 0 0 0-.75.75v.757c0 .103.085.187.188.187h12a.188.188 0 0 0 .188-.187v-.757a.75.75 0 0 0-.75-.75h-4.594v-2.466a6.007 6.007 0 0 0 5.292-5.168 3.85 3.85 0 0 0 3.239-3.797V2.481a1.032 1.032 0 0 0-1.031-1.03ZM2.312 5.95V3.138h1.5v4.865a2.156 2.156 0 0 1-1.5-2.053Zm12.188 3A4.28 4.28 0 0 1 13.237 12a4.283 4.283 0 0 1-3.05 1.263h-.374a4.28 4.28 0 0 1-3.05-1.264A4.283 4.283 0 0 1 5.5 8.95V2.013h9V8.95Zm3.188-3c0 .961-.631 1.777-1.5 2.053V3.138h1.5V5.95Z"
                ></path></svg
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="none"
                class="group-hover:block hidden"
                ><path
                  fill="currentColor"
                  d="M18.344 1.75h-2.157V.812A.188.188 0 0 0 16 .625H4a.188.188 0 0 0-.188.188v.937H1.656A1.031 1.031 0 0 0 .625 2.781V6.25a3.85 3.85 0 0 0 3.24 3.797 6.003 6.003 0 0 0 5.291 5.168v2.465H4.562a.75.75 0 0 0-.75.75v.758c0 .103.085.187.188.187h12a.188.188 0 0 0 .188-.188v-.757a.75.75 0 0 0-.75-.75h-4.594v-2.465a6.003 6.003 0 0 0 5.292-5.168 3.85 3.85 0 0 0 3.239-3.797V2.781a1.032 1.032 0 0 0-1.031-1.031ZM3.812 8.303a2.16 2.16 0 0 1-1.5-2.053V3.437h1.5v4.866ZM17.688 6.25c0 .96-.631 1.777-1.5 2.053V3.437h1.5V6.25Z"
                ></path></svg
              >
            </figure>
            <h2 class="dark:text-white text-oscure text-lg">
              Copa America 2024
            </h2>
          </button>
        </li>
        <li class="">
          <button
            class="w-[240px] flex flex-row items-center gap-2 px-6 py-3 hover:bg-primary rounded-lg group"
          >
            <figure class="dark:text-white text-black">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                class="group-hover:hidden"
                ><path
                  fill="currentColor"
                  d="M18.344 1.45h-2.157V.513A.188.188 0 0 0 16 .325H4a.188.188 0 0 0-.188.188v.937H1.656A1.031 1.031 0 0 0 .625 2.481v3.47a3.85 3.85 0 0 0 3.24 3.796 6.007 6.007 0 0 0 5.291 5.168v2.466H4.562a.75.75 0 0 0-.75.75v.757c0 .103.085.187.188.187h12a.188.188 0 0 0 .188-.187v-.757a.75.75 0 0 0-.75-.75h-4.594v-2.466a6.007 6.007 0 0 0 5.292-5.168 3.85 3.85 0 0 0 3.239-3.797V2.481a1.032 1.032 0 0 0-1.031-1.03ZM2.312 5.95V3.138h1.5v4.865a2.156 2.156 0 0 1-1.5-2.053Zm12.188 3A4.28 4.28 0 0 1 13.237 12a4.283 4.283 0 0 1-3.05 1.263h-.374a4.28 4.28 0 0 1-3.05-1.264A4.283 4.283 0 0 1 5.5 8.95V2.013h9V8.95Zm3.188-3c0 .961-.631 1.777-1.5 2.053V3.138h1.5V5.95Z"
                ></path></svg
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="none"
                class="group-hover:block hidden"
                ><path
                  fill="currentColor"
                  d="M18.344 1.75h-2.157V.812A.188.188 0 0 0 16 .625H4a.188.188 0 0 0-.188.188v.937H1.656A1.031 1.031 0 0 0 .625 2.781V6.25a3.85 3.85 0 0 0 3.24 3.797 6.003 6.003 0 0 0 5.291 5.168v2.465H4.562a.75.75 0 0 0-.75.75v.758c0 .103.085.187.188.187h12a.188.188 0 0 0 .188-.188v-.757a.75.75 0 0 0-.75-.75h-4.594v-2.465a6.003 6.003 0 0 0 5.292-5.168 3.85 3.85 0 0 0 3.239-3.797V2.781a1.032 1.032 0 0 0-1.031-1.031ZM3.812 8.303a2.16 2.16 0 0 1-1.5-2.053V3.437h1.5v4.866ZM17.688 6.25c0 .96-.631 1.777-1.5 2.053V3.437h1.5V6.25Z"
                ></path></svg
              >
            </figure>
            <h2 class="dark:text-white text-oscure text-lg">EuroCopa 2024</h2>
          </button>
        </li>

        <li class="">
          <button
            class="w-[240px] flex flex-row items-center gap-2 px-6 py-3 hover:bg-primary rounded-lg group"
          >
            <figure class="dark:text-white text-black">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                class="group-hover:hidden"
                ><path
                  fill="currentColor"
                  d="M12.754 7.7c.966 0 1.75.784 1.75 1.75v4.75a4.501 4.501 0 0 1-9.002 0V9.45c0-.966.783-1.75 1.75-1.75h5.502Zm0 1.5H7.252a.25.25 0 0 0-.25.25v4.75a3.001 3.001 0 0 0 6.002 0V9.45a.25.25 0 0 0-.25-.25ZM1.75 7.7h3.381a2.74 2.74 0 0 0-.618 1.5H1.75a.25.25 0 0 0-.25.25v3.25a2.5 2.5 0 0 0 3.082 2.432c.085.504.24.985.453 1.432A4 4 0 0 1 0 12.7V9.45C0 8.484.784 7.7 1.75 7.7Zm13.125 0h3.375c.966 0 1.75.784 1.75 1.75v3.25a4 4 0 0 1-5.03 3.866c.214-.448.369-.929.455-1.433A2.5 2.5 0 0 0 18.5 12.7V9.45a.25.25 0 0 0-.25-.25h-2.757a2.74 2.74 0 0 0-.618-1.5ZM10 .7a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm6.5 1a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm-13 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm6.5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Zm6.5 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2Zm-13 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2Z"
                ></path></svg
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="18"
                class="group-hover:block hidden"
                ><path
                  fill="currentColor"
                  d="M12.754 7c.966 0 1.75.784 1.75 1.75v4.749a4.501 4.501 0 0 1-9.002 0V8.75c0-.966.783-1.75 1.75-1.75h5.502ZM5.131 7a2.7 2.7 0 0 0-.62 1.53l-.01.22v4.749c0 .847.192 1.649.534 2.365A4 4 0 0 1 0 11.999V8.75a1.75 1.75 0 0 1 1.606-1.744L1.75 7h3.381Zm9.744 0h3.375c.966 0 1.75.784 1.75 1.75V12a4 4 0 0 1-5.03 3.866c.3-.628.484-1.32.525-2.052l.009-.315V8.75A2.73 2.73 0 0 0 14.875 7ZM10 0a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm6.5 1a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm-13 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z"
                ></path></svg
              >
            </figure>
            <h2 class="dark:text-white text-oscure text-lg">Ligas</h2>
          </button>
        </li>
        <li class="">
          <button
            class="w-[240px] flex flex-row items-center gap-2 px-6 py-3 mb-8 hover:bg-primary rounded-lg group"
          >
            <figure class="dark:text-white text-black">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="19"
                class="group-hover:hidden"
                ><path
                  fill="currentColor"
                  d="M12.754 7.7c.966 0 1.75.784 1.75 1.75v4.75a4.501 4.501 0 0 1-9.002 0V9.45c0-.966.783-1.75 1.75-1.75h5.502Zm0 1.5H7.252a.25.25 0 0 0-.25.25v4.75a3.001 3.001 0 0 0 6.002 0V9.45a.25.25 0 0 0-.25-.25ZM1.75 7.7h3.381a2.74 2.74 0 0 0-.618 1.5H1.75a.25.25 0 0 0-.25.25v3.25a2.5 2.5 0 0 0 3.082 2.432c.085.504.24.985.453 1.432A4 4 0 0 1 0 12.7V9.45C0 8.484.784 7.7 1.75 7.7Zm13.125 0h3.375c.966 0 1.75.784 1.75 1.75v3.25a4 4 0 0 1-5.03 3.866c.214-.448.369-.929.455-1.433A2.5 2.5 0 0 0 18.5 12.7V9.45a.25.25 0 0 0-.25-.25h-2.757a2.74 2.74 0 0 0-.618-1.5ZM10 .7a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm6.5 1a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm-13 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm6.5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3Zm6.5 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2Zm-13 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2Z"
                ></path></svg
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="18"
                class="group-hover:block hidden"
                ><path
                  fill="currentColor"
                  d="M12.754 7c.966 0 1.75.784 1.75 1.75v4.749a4.501 4.501 0 0 1-9.002 0V8.75c0-.966.783-1.75 1.75-1.75h5.502ZM5.131 7a2.7 2.7 0 0 0-.62 1.53l-.01.22v4.749c0 .847.192 1.649.534 2.365A4 4 0 0 1 0 11.999V8.75a1.75 1.75 0 0 1 1.606-1.744L1.75 7h3.381Zm9.744 0h3.375c.966 0 1.75.784 1.75 1.75V12a4 4 0 0 1-5.03 3.866c.3-.628.484-1.32.525-2.052l.009-.315V8.75A2.73 2.73 0 0 0 14.875 7ZM10 0a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm6.5 1a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Zm-13 0a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5Z"
                ></path></svg
              >
            </figure>
            <h2 class="dark:text-white text-oscure text-lg">Equipos</h2>
          </button>
        </li>
        <li class="">
          <button
            class="w-[240px] flex flex-row items-center gap-2 px-6 py-3 hover:bg-primary rounded-lg group"
          >
            <figure class="dark:text-white text-black">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                class="group-hover:hidden"
                ><path
                  fill="currentColor"
                  d="M16.102.754c2.057 0 3.102 1.003 3.143 2.991v12.388c0 2.027-1.002 3.072-3.018 3.112l-.125.002H3.907c-2.047 0-3.11-.994-3.152-2.99l-.002-.124V3.867C.753 1.83 1.776.795 3.783.755l.125-.001h12.194Zm-.03 1.617H3.938c-.972 0-1.53.499-1.565 1.478l-.002.1V16.05c0 1.012.527 1.543 1.471 1.576l.096.002h12.134c.962 0 1.52-.5 1.555-1.478l.002-.1V3.95c0-1.011-.527-1.542-1.462-1.576l-.095-.002ZM4.857 13.429a.857.857 0 1 1 0 1.713.857.857 0 0 1 0-1.713Zm10.792 0c.43 0 .78.383.78.857 0 .473-.35.857-.78.857H8.636c-.43 0-.779-.384-.779-.857 0-.474.349-.857.78-.857h7.012ZM4.857 9.143a.857.857 0 1 1 0 1.714.857.857 0 0 1 0-1.714Zm10.792 0c.43 0 .78.383.78.857s-.35.857-.78.857H8.636c-.43 0-.779-.383-.779-.857s.349-.857.78-.857h7.012ZM4.857 4.857a.857.857 0 1 1 0 1.714.857.857 0 0 1 0-1.714Zm10.792 0c.43 0 .78.384.78.857 0 .474-.35.857-.78.857H8.636c-.43 0-.779-.383-.779-.857 0-.473.349-.857.78-.857h7.012Z"
                ></path></svg
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                class="group-hover:block hidden"
                ><path
                  fill="currentColor"
                  d="M16.102.754c2.1 0 3.144 1.045 3.144 3.114v12.264c0 2.07-1.044 3.114-3.144 3.114H3.908c-2.089 0-3.154-1.035-3.154-3.114V3.868C.754 1.788 1.82.754 3.91.754h12.193ZM4.857 13.429a.857.857 0 1 0 0 1.714.857.857 0 0 0 0-1.714Zm10.792 0H8.636c-.43 0-.779.384-.779.857s.349.857.78.857h7.012c.43 0 .78-.384.78-.857s-.35-.857-.78-.857ZM4.857 9.143a.857.857 0 1 0 0 1.714.857.857 0 0 0 0-1.714Zm10.792 0H8.636c-.43 0-.779.384-.779.857 0 .474.349.857.78.857h7.012c.43 0 .78-.383.78-.857 0-.473-.35-.857-.78-.857ZM4.857 4.857a.857.857 0 1 0 0 1.714.857.857 0 0 0 0-1.714Zm10.792 0H8.636c-.43 0-.779.384-.779.857 0 .474.349.857.78.857h7.012c.43 0 .78-.383.78-.857 0-.473-.35-.857-.78-.857Z"
                ></path></svg
              >
            </figure>
            <h2 class="dark:text-white text-oscure text-lg">Reglas</h2>
          </button>
        </li>
        <li class="">
          <button
            class="w-[240px] flex flex-row items-center gap-2 px-6 py-3 mb-8 hover:bg-primary rounded-lg group"
          >
            <figure class="dark:text-white text-black">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                class="group-hover:hidden"
                ><path
                  fill="currentColor"
                  d="M9.95 16c.35 0 .646-.121.888-.363s.363-.538.362-.887c0-.35-.121-.645-.362-.888a1.195 1.195 0 0 0-.888-.362 1.21 1.21 0 0 0-.887.363c-.24.24-.361.536-.363.887-.002.35.119.647.363.888s.54.362.887.362Zm-.9-3.85h1.85c0-.55.063-.983.188-1.3.125-.317.48-.75 1.062-1.3a7.484 7.484 0 0 0 1.025-1.238c.25-.392.375-.863.375-1.412 0-.933-.342-1.65-1.025-2.15-.683-.5-1.492-.75-2.425-.75-.95 0-1.72.25-2.312.75-.591.5-1.004 1.1-1.238 1.8l1.65.65c.083-.3.271-.625.563-.975.292-.35.738-.525 1.337-.525.533 0 .933.146 1.2.438.267.292.4.613.4.962 0 .333-.1.646-.3.938-.2.292-.45.563-.75.812-.733.65-1.183 1.142-1.35 1.475-.167.333-.25.942-.25 1.825ZM10 20a9.742 9.742 0 0 1-3.9-.787 10.083 10.083 0 0 1-3.175-2.138c-.9-.9-1.612-1.959-2.137-3.175A9.75 9.75 0 0 1 0 10c0-1.384.262-2.684.788-3.9a10.152 10.152 0 0 1 2.137-3.175A10.04 10.04 0 0 1 6.1.788 9.787 9.787 0 0 1 10 0a9.696 9.696 0 0 1 3.9.788 10.13 10.13 0 0 1 3.175 2.137A10.105 10.105 0 0 1 19.213 6.1 9.688 9.688 0 0 1 20 10a9.816 9.816 0 0 1-.788 3.9 10.002 10.002 0 0 1-2.137 3.175c-.901.898-1.96 1.61-3.175 2.138A9.643 9.643 0 0 1 10 20Zm0-2c2.233 0 4.125-.775 5.675-2.325C17.225 14.125 18 12.233 18 10c0-2.233-.775-4.125-2.325-5.675C14.125 2.775 12.233 2 10 2c-2.233 0-4.125.775-5.675 2.325C2.775 5.875 2 7.767 2 10c0 2.233.775 4.125 2.325 5.675C5.875 17.225 7.767 18 10 18Z"
                ></path></svg
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                class="group-hover:block hidden"
                ><path
                  fill="currentColor"
                  d="M9.95 16c.35 0 .646-.121.888-.363s.363-.538.362-.887c0-.35-.121-.645-.362-.888a1.195 1.195 0 0 0-.888-.362 1.21 1.21 0 0 0-.887.363c-.24.24-.361.536-.363.887-.002.35.119.647.363.888s.54.362.887.362Zm-.9-3.85h1.85c0-.55.063-.983.188-1.3.125-.317.48-.75 1.062-1.3a7.484 7.484 0 0 0 1.025-1.238c.25-.392.375-.863.375-1.412 0-.933-.342-1.65-1.025-2.15-.683-.5-1.492-.75-2.425-.75-.95 0-1.72.25-2.312.75-.591.5-1.004 1.1-1.238 1.8l1.65.65c.083-.3.271-.625.563-.975.292-.35.738-.525 1.337-.525.533 0 .933.146 1.2.438.267.292.4.613.4.962 0 .333-.1.646-.3.938-.2.292-.45.563-.75.812-.733.65-1.183 1.142-1.35 1.475-.167.333-.25.942-.25 1.825ZM10 20a9.742 9.742 0 0 1-3.9-.787 10.083 10.083 0 0 1-3.175-2.138c-.9-.9-1.612-1.959-2.137-3.175A9.75 9.75 0 0 1 0 10c0-1.384.262-2.684.788-3.9a10.152 10.152 0 0 1 2.137-3.175A10.04 10.04 0 0 1 6.1.788 9.787 9.787 0 0 1 10 0a9.696 9.696 0 0 1 3.9.788 10.13 10.13 0 0 1 3.175 2.137A10.105 10.105 0 0 1 19.213 6.1 9.688 9.688 0 0 1 20 10a9.816 9.816 0 0 1-.788 3.9 10.002 10.002 0 0 1-2.137 3.175c-.901.898-1.96 1.61-3.175 2.138A9.643 9.643 0 0 1 10 20Z"
                ></path></svg
              >
            </figure>
            <h2 class="dark:text-white text-oscure text-lg">Ayuda</h2>
          </button>
        </li>
        <li class="">
          <button
            class="w-[240px] flex flex-row items-center gap-2 px-6 py-3 mt-[200px]"
          >
            <figure class="dark:text-white text-black">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="19"
                fill="none"
              >
                <path
                  fill="currentColor"
                  d="M9 18.7c-2.5 0-4.625-.875-6.375-2.625S0 12.2 0 9.7s.875-4.625 2.625-6.375S6.5.7 9 .7c.233 0 .463.009.688.025.225.017.446.042.662.075a5.296 5.296 0 0 0-1.638 1.888A5.297 5.297 0 0 0 8.1 5.2c0 1.5.525 2.775 1.575 3.825C10.725 10.075 12 10.6 13.5 10.6c.917 0 1.758-.204 2.525-.613A5.33 5.33 0 0 0 17.9 8.35 8.509 8.509 0 0 1 18 9.7c0 2.5-.875 4.625-2.625 6.375S11.5 18.7 9 18.7Zm0-2c1.467 0 2.783-.404 3.95-1.213a7.017 7.017 0 0 0 2.55-3.162c-.333.084-.667.15-1 .2-.333.05-.667.075-1 .075-2.05 0-3.796-.72-5.238-2.163C6.82 8.995 6.099 7.25 6.1 5.2c0-.333.025-.666.075-1 .05-.333.117-.666.2-1a7.016 7.016 0 0 0-3.163 2.55C2.403 6.917 1.999 8.234 2 9.7c0 1.934.683 3.584 2.05 4.95C5.417 16.017 7.067 16.7 9 16.7Z"
                ></path>
              </svg>
            </figure>
            <h2 class="dark:text-white text-oscure text-lg">Dark</h2>

            <div class="flex flex-col flex-1 items-end">
              <input
                id="switch"
                type="checkbox"
                name="light-switch"
                class="light-switch sr-only"
              />
              <label class="relative cursor-pointer p-2" for="switch">
                <svg
                  class="dark:hidden"
                  width="16"
                  height="16"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    class="fill-slate-300"
                    d="M7 0h2v2H7zM12.88 1.637l1.414 1.415-1.415 1.413-1.413-1.414zM14 7h2v2h-2zM12.95 14.433l-1.414-1.413 1.413-1.415 1.415 1.414zM7 14h2v2H7zM2.98 14.364l-1.413-1.415 1.414-1.414 1.414 1.415zM0 7h2v2H0zM3.05 1.706 4.463 3.12 3.05 4.535 1.636 3.12z"
                  ></path>
                  <path
                    class="fill-slate-400"
                    d="M8 4C5.8 4 4 5.8 4 8s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4Z"
                  ></path>
                </svg>
                <svg
                  class="hidden dark:block"
                  width="16"
                  height="16"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    class="fill-slate-400"
                    d="M6.2 1C3.2 1.8 1 4.6 1 7.9 1 11.8 4.2 15 8.1 15c3.3 0 6-2.2 6.9-5.2C9.7 11.2 4.8 6.3 6.2 1Z"
                  ></path>
                  <path
                    class="fill-slate-500"
                    d="M12.5 5a.625.625 0 0 1-.625-.625 1.252 1.252 0 0 0-1.25-1.25.625.625 0 1 1 0-1.25 1.252 1.252 0 0 0 1.25-1.25.625.625 0 1 1 1.25 0c.001.69.56 1.249 1.25 1.25a.625.625 0 1 1 0 1.25c-.69.001-1.249.56-1.25 1.25A.625.625 0 0 1 12.5 5Z"
                  ></path>
                </svg>
                <span class="sr-only">Switch to light / dark version</span>
              </label>
            </div>
          </button>
        </li>
        <li class="flex flex-row justify-around items-center gap-5 bg-red">
          <div class="py-4 px-8 hover:bg-primary rounded-lg">
            <a href="/" target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                class="dark:text-white text-oscure"
                ><path
                  fill="currentColor"
                  d="M5.8 0h8.4C17.4 0 20 2.6 20 5.8v8.4a5.8 5.8 0 0 1-5.8 5.8H5.8C2.6 20 0 17.4 0 14.2V5.8A5.8 5.8 0 0 1 5.8 0Zm-.2 2A3.6 3.6 0 0 0 2 5.6v8.8C2 16.39 3.61 18 5.6 18h8.8a3.6 3.6 0 0 0 3.6-3.6V5.6C18 3.61 16.39 2 14.4 2H5.6Zm9.65 1.5a1.25 1.25 0 1 1 0 2.5 1.25 1.25 0 0 1 0-2.5ZM10 5a5 5 0 1 1 0 10 5 5 0 0 1 0-10Zm0 2a3 3 0 1 0 0 6 3 3 0 0 0 0-6Z"
                ></path></svg
              ></a
            >
          </div>
          <div class="py-4 px-8 hover:bg-primary rounded-lg">
            <a href="/" target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                class="dark:text-white text-oscure"
                ><path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M19.586 19.375 12.089 8.447l.012.01 6.76-7.832h-2.259L11.095 7 6.722.625H.798l7 10.203-.002-.001-7.382 8.548h2.26l6.121-7.093 4.866 7.093h5.925ZM5.827 2.33l10.52 15.34h-1.79L4.028 2.33h1.798Z"
                  clip-rule="evenodd"></path></svg
              ></a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</aside>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const switchInput = document.getElementById("switch") as HTMLInputElement;

    if (localStorage.getItem("theme") === "dark") {
      switchInput.checked = true;
      document.documentElement.classList.add("dark");
    }

    switchInput.addEventListener("change", function () {
      if (switchInput.checked) {
        document.documentElement.classList.add("dark");
        localStorage.setItem("theme", "dark");
      } else {
        document.documentElement.classList.remove("dark");
        localStorage.setItem("theme", "light");
      }
    });
  });
</script>
<style>
  .fondo {
    background-image: url("https://images.pexels.com/photos/104827/cat-pet-animal-domestic-104827.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sm-div {
    background-color: red;
  }
</style>
