---

---

<div class="p-8 m-10 h-[88px] rounded-lg dark:bg-negro bg-white">
  <button
    class="mx-auto dark:text-white text-negro rounded-lg font-semibold hover:text-gray-600 dark:hover:text-gray-300"
    >Reglas</button
  >
</div>
