---

---

<div class="w-full h-auto flex mt-10 justify-around">
  <div
    class="text-md font-semibold text-center text-negro border-gray-200 dark:text-white dark:border-gray-700"
  >
    <ul class="flex flex-wrap -mb-px dark:bg-negro bg-white rounded-lg">
      <li class="me-2">
        <a
          href="#"
          class="inline-block p-8 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300"
          >Jornada 1</a
        >
      </li>
      <li class="me-2">
        <a
          href="#"
          class="inline-block p-8 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300"
          aria-current="page">Jornada 2</a
        >
      </li>
      <li class="me-2">
        <a
          href="#"
          class="inline-block p-8 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 dark:hover:text-gray-300"
          >Jornada 3</a
        >
      </li>
      <li class="me-2">
        <a
          href="#"
          class="inline-block p-8 text-gray-400 rounded-t-lg cursor-not-allowed dark:text-gray-500"
          >Cuartos</a
        >
      </li>
      <li>
        <a
          class="inline-block p-8 text-gray-400 rounded-t-lg cursor-not-allowed dark:text-gray-500"
          >Semifinal</a
        >
      </li>
      <li>
        <a
          class="inline-block p-8 text-gray-400 rounded-t-lg cursor-not-allowed dark:text-gray-500"
          >Final</a
        >
      </li>
    </ul>
  </div>
  <div class="w-[126px] p-8 h-[88px] flex rounded-lg dark:bg-negro bg-white">
    <button
      class="mx-auto dark:text-white text-negro rounded-lg font-semibold hover:text-gray-600 dark:hover:text-gray-300"
      >Reglas</button
    >
  </div>
</div>
